<div class="content-header buttonheader">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">สินค้าคงคลัง</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <!-- <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol> -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</div>
<div class="row buttonheader">
    <div _ngcontent-flh-c136="" class="row">
        <div _ngcontent-flh-c136="" class="col-2">
            <p _ngcontent-flh-c136="">แบรนด์:</p>
        </div>
        <div _ngcontent-flh-c136="" class="col-2"><select _ngcontent-flh-c136=""
                class="form-control ng-untouched ng-pristine ng-valid">
                <option _ngcontent-flh-c136="" value="">ทั้งหมด</option>
                <option _ngcontent-flh-c136="" value=""> A </option>
                <option _ngcontent-flh-c136="" value=""> B </option>
                <option _ngcontent-flh-c136="" value=""> C </option>

            </select></div>
        <div _ngcontent-flh-c136="" class="col-2">
            <p _ngcontent-flh-c136="">ประเภท:</p>
        </div>
        <div _ngcontent-flh-c136="" class="col-2"><select _ngcontent-flh-c136=""
                class="form-control ng-untouched ng-pristine ng-valid">
                <option _ngcontent-flh-c136="" value="ทั้งหมด">ทั้งหมด</option>
                <option _ngcontent-flh-c136="" value=""> A </option>
                <option _ngcontent-flh-c136="" value=""> B </option>
                <option _ngcontent-flh-c136="" value=""> C </option>

            </select>
        </div>
           

    </div>
    <div class="card cardtable">

        <div class="row">
            <div class="col-10">

                <div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length"
                            aria-controls="example1" class="form-control input-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entries</label></div>
            </div>
            <div class="col-2">
                <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search"
                            class="form-control input-sm" placeholder="" aria-controls="example1"></label></div>
            </div>
        </div>


        <table id="example" class="table table-striped" style="width:100%">

            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>รายละเอียด</th>
                    <th>รับประกัน</th>
                    <th>Age</th>
                  

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                
                </tr>
                <tr>
                    <td>2</td>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                 
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                 
                </tr>
                <tr>
                    <td>4</td>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                 
                </tr>
                <tr>
                    <td>5</td>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                  
                </tr>
                <tr>
                    <td></td>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                 
                </tr>
            </tbody>
        </table>
    </div>