<div class="content-header buttonheader">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">เพิ่มสินค้าคงคลัง</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li  class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                    <li  class="breadcrumb-item"><a href="managecctv">จัดการรายการสินค้า
                    </a></li>
                    <li class="breadcrumb-item active">เพิ่มสินค้าคงคลัง</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</div>

<div class="card cardfrom ">
    <div class="card-header">
        <h3 class="card-title">เพิ่มข้อมูลสินค้า</h3>
        </div>
    <form class="row assignpage">
        <div class="col-md-12">
          <label class="form-label">ชื่อ</label>
          <input type="text" class="form-control">
        </div>
    
        <div class="col-md-12">
          <label class="form-label">รายละเอียด</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label">วันที่</label>
          <input type="email" class="form-control">
        </div>
        
        <div class="col-md-6">
          <label class="form-label">Upload QRcode</label>
          <input type="file" class="form-control">
        </div>       
        <div class="col-12">
          <br>
          <button class="btn btn-success form-control">Submit</button>
        </div>
    </form>
    
    
    </div>